{% include "../../static/admin/admin-header.html" %}

<section class="main-info">
    <h2 class="slider-header">Configure experience thresholds</h2>

    <div id="range"></div>
    <section class="slider-range">
        {% for level in experienceLevels %}
        <div {% if loop.first == false %}class="slider-value"{% endif %} id="{{ level.getId }}" data-sliderval="{{ level.getLevelStart }}">
            {#{{ level.getName }}: #}
            {{ level.getLevelStart }}
            </div>
        {% endfor %}
    </section>
    <div>
        <button class="add-class-button" onclick="getSliderValues()">Save Slider Values</button>

    </div>
    <br>
    <h2 class="slider-header">Manage classes</h2>
    <div class="class-table">
        <table>
            <tr class="class-table-top-row">
                <th>Class Name</th>
                <th>Mentors #</th>
                <th>Students #</th>
                <th>Is active</th>
                <th>Deactivate / activate Class</th>
            </tr>
            {% for classInfo in classesInfo %}
            <tr id = "{{ classInfo.getKlass.getId }}">
                <td class="classDisplayName">{{ classInfo.getKlass.getName }}</td>
                <td>{{ classInfo.getMentorsCount }}</td>
                <td>{{ classInfo.getStudentsCount }}</td>
                <td>{{ classInfo.getIsActive }}</td>
                <td><button value="{{ classInfo.getId }}" type="submit" class="delete-class-button" onclick="deleteClass(this)">
                        <img src="/static/assets/images/buttons/decline_button.png">
                    </button>
                    <button value="{{ classInfo.getId }}" type="submit" class="activate-class-button" onclick="activateClass(this)">
                        <img src="/static/assets/images/buttons/accept_button.png">
                    </button>
                </td>
            </tr>
            {% endfor %}
        </table>
        <button class="open-button" onclick="openForm()">New Class</button>

        <div class="form-popup" id="myForm">
            <form class="form-container">
                <label for="className"><b>Class name</b></label>
                <input type="text" id="className" placeholder="Enter Class name" class="inputClassName" name="className" required>

                <button type="submit" class="btn" onclick="addNewClass()">Create new</button>
                <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
            </form>
        </div>
    </div>

</section>

<script src="/static/Scripts/node_modules/nouislider/distribute/nouislider.js"></script>
<script src="/static/Scripts/node_modules/wnumb/wNumb.js"></script>
{% include "../../static/admin/admin-footer.html" %}