{% include "../static/mentor-header.html" %}

<section class="main-info cards-display">


    <div class="quest-card quest-card-extra">
        <div class="quest-card-header" contenteditable="true"><span id="newDescription">Enter Description</span>
            <div class="item-card-price">
                <div id="newPrice" class="quest-card-price-box" contenteditable="true">???</div>
            </div>
        </div>
        <div class="quest-card-image">
            <label for="file-upload" class="custom-file-upload">
                <img id="emptyImage" src="../static/assets/images/empty-photo-resize.jpg" alt="emptyPhoto">
            </label>
            <input id="file-upload" type="file" accept="image/png, image/jpeg" onchange="loadFile(event)"/>
        </div>
        <div class="item-card-category">
            Choose category
        </div>
        <div class="item-card-text-box">
            <div id="newCardText" class="quest-card-text" contenteditable="true">Enter item description</div>
            <button class="myButton" onclick="addNewQuestCard()">Create new card
            </button>
        </div>
    </div>


    {% for card in cardsList %}
        <div id="{{ card.getId }}" class="quest-card quest-card-extra">
            <div class="item-card-header" contenteditable="true"><span class="getName">{{ card.getName }}</span>
                <div class="item-card-price">
                    <div class="item-card-price-box getPrice" contenteditable="true">{{ card.getValue }}</div>
                </div>
            </div>
            <div class="item-card-image">
                <img src="../static/assets/images/quest-card/quest-magic-puzzle.jpg" alt="Circle of sorcery">
            </div>
            <div class="quest-card-category getCategory">
                {{ card.getCategories.getName }}
            </div>
            <div class="quest-card-text-box">
                <div class="quest-card-text getDescription" contenteditable="true">{{ card.getDescription }} </div>
                <button class="myButton" onclick="sendInfoItemsCard({{ card.getId }})">Save changes
                </button>
            </div>
        </div>
    {% endfor %}


</section>

{% include "../static/footer.html" %}